@dependencias
👉🏼@twitchio.ext
👉🏼@googleapiclient.discovery
👉🏼@discord.ext
👉🏼@discord
 
 🔥multimedia bot whit fuctions for youtube search twitch moderation bot connections
 basic channels moderations commands🔥


███╗░░░███╗░░███╗░░░█████╗░░█████╗░░█████╗░
████╗░████║░████║░░██╔══██╗██╔══██╗██╔══██╗
██╔████╔██║██╔██║░░██║░░██║██║░░██║██║░░██║
██║╚██╔╝██║╚═╝██║░░██║░░██║██║░░██║██║░░██║
██║░╚═╝░██║███████╗╚█████╔╝╚█████╔╝╚█████╔╝
╚═╝░░░░░╚═╝╚══════╝░╚════╝░░╚════╝░░╚════╝░

███╗░░░███╗██╗░░░██╗██╗░░░░░████████╗██╗███╗░░░███╗███████╗██████╗░██╗░█████╗░
████╗░████║██║░░░██║██║░░░░░╚══██╔══╝██║████╗░████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║██║░░░██║██║░░░░░░░░██║░░░██║██╔████╔██║█████╗░░██║░░██║██║███████║
██║╚██╔╝██║██║░░░██║██║░░░░░░░░██║░░░██║██║╚██╔╝██║██╔══╝░░██║░░██║██║██╔══██║
██║░╚═╝░██║╚██████╔╝███████╗░░░██║░░░██║██║░╚═╝░██║███████╗██████╔╝██║██║░░██║
╚═╝░░░░░╚═╝░╚═════╝░╚══════╝░░░╚═╝░░░╚═╝╚═╝░░░░░╚═╝╚══════╝╚═════╝░╚═╝╚═╝░░╚═╝

██████╗░░█████╗░████████╗
██╔══██╗██╔══██╗╚══██╔══╝
██████╦╝██║░░██║░░░██║░░░
██╔══██╗██║░░██║░░░██║░░░
██████╦╝╚█████╔╝░░░██║░░░
╚═════╝░░╚════╝░░░░╚═╝░░░